<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="form">

        <form action="/new-form" method="POST">
            <p>barbande4/4</p>

            <div>
                <label for="azul-marinho">Azul Marinho</label>
                <input type="number" name="azul-marinho" min="0" max="999">
                <br>
            </div>

            <div>
                <label for="amarelo-canario">Amarelo Canario</label>
                <input type="number" name="amarelo-canario" min="0" max="999">
                <br>
            </div>

            <div>
                <label for="verde-bebe">Verde Bebe</label>
                <input type="number" name="verde-bebe" min="0" max="999">
                <br>
            </div>

            <div>
                <label for="vermelho">Vermelho</label>
                <input type="number" name="vermelho" min="0" max="999">
                <br>
            </div>

            <div>
                <label for="azul-royal">Azul Royal</label>
                <input type="number" name="azul-royal" min="0" max="999">
                <br>
            </div>

            <input type="submit" value="Submit">

        </form>
    </div>
</body>

</html>